<!--
    *Criar projeto com anderlaine "_"
    *Alterar rota padrão do controller na classe "Startup" procurar por pattern: "{controller=Serie}/{action=Index}/{id?}");
-->

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>
    <div class="menu">
        <nav>
            <ul>
                <li><a href="~/Serie/Index">Index</a></li>

                <li><a href=~/Serie/Listar>Lista</a></li>
            </ul>
        </nav>
    </div>
        <!--
            * As tags label e input são ligadas através das propriedades for e id que precisam conter o mesmo nome
            * Os dados do formulário são capturados através da tag input com sua propriedade name que precisa ser igual a classe
        -->
        <form class="formulario" action="~/Serie/Salvar" method="post">

            <h1>Cadastro de Serie</h1>

            <label for="Genero">Gênero</label>
            <select id="Genero" name="Genero">
                <option value=""></option>
                <option value="Anime">Anime</option>
                <option value="Filme">Filme</option>
                <option value="Série">Série</option>
            </select>

            <label for="Titulo">Título</label>
            <input id="Titulo" type="text" name="Titulo" value="" />

            <button type="submit">Salvar</button>
            <button type="reset">Limpar</button>

        </form>
</body>
</html>
